body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
body.two{
    background-color: #d47272;
}

body.three{
    background-color: #2b2828;
}

.main-block {
    width: 1000px;
    background-color:#2b2828;
    
}

.sidebar {
   
    background-color:#2b2828;
}

